<section class="newsletter accent-bg">
	<div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
		<%= image_tag('http://via.placeholder.com/1600x900', class: "background-image", alt: "Background Image")%>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-left">
				<h2 class="page-title">Join our newsletter</h2>
				<p>Bemporibus autem quibusdam et aut officiis debitis autem quibusdam et aut officiis debitis.</p>
			</div>
			<div class="col-md-4">
				<form class="newsletter-form">
					<input type="text" name="email" id="email" placeholder="Your email address">
				</form>
			</div>
			<div class="col-md-3">
				<%= link_to root_path, class: "btn btn-primary" do%>Shop Now<% end %>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="footer-navigation">
					<li class="active">
						<%= link_to 'Home', root_path  %>
					</li>
					<li>
						<%= link_to 'Store', shop_path  %>
					</li>
					<li>
						<%= link_to 'About', root_path  %>
					</li>

				</ul>
				<ul class="accepted-payments">
					<li><%= link_to root_path do%><i class="fa fa-cc-amex"></i><% end %></li>
					<li><%= link_to root_path do%><i class="fa fa-cc-visa"></i><% end %></li>
					<li><%= link_to root_path do%><i class="fa fa-paypal"></i><% end %></li>
					<li><%= link_to root_path do%><i class="fa fa-cc-stripe"></i><% end %></li>
					<li><%= link_to root_path do%><i class="fa fa-cc-mastercard"></i><% end %></li>
				</ul>
				<div class="copyright">
					<p>Copyright © 2015 Chair. Created by Designifyer.com</p>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</footer>