<header class="fullscreen-element">
	<div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
		<%= image_tag("http://via.placeholder.com/350x150", class: "background-image", alt: "Background Image")%>
	</div>

	<div class="container align-vertical hero">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
				<h1>Modern Chair</h1>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
				<div class="button-group">
					<%= link_to root_path, class: "btn btn-primary" do%>Shop Now<% end %>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</header>

<div class="action-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<%= link_to root_path do%><span data-icon="v" class="icon"></span> <span class="text">Fast Delivery</span><% end %>
			</div>
			<div class="col-sm-4">
				<%= link_to root_path do%><span data-icon="/" class="icon"></span> <span class="text">Adjustable</span><% end %>
			</div>
			<div class="col-sm-4">
				<%= link_to root_path do%><span data-icon="7" class="icon"></span> <span class="text">Inovative</span><% end %>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>

<section>
	<div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
		<%= image_tag('http://via.placeholder.com/350x150', class: "background-image", alt: "Background Image")%>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 text-left">
				<h2 class="page-title">For your familly</h2>
				<p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
				<%= link_to root_path, class: "btn btn-primary" do%>Shop Now<% end %>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
<br>
<h2 class="page-title text-center">Featured Product</h2>
<%= render 'shared/list' %>

<section>
	<div class="background-image-holder on-page overlay">
		<%= image_tag('http://via.placeholder.com/1600x900', class: "background-image", alt: "Background Image")%>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-7 text-right">
				<h2 class="page-title">Modern Chair<span class="accent-color">.</span></h2>
				<p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
				<%= link_to root_path, class: "btn btn-primary" do%>Shop Now<% end %>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>